@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Circular';
    src: url(fonts/CircularStd-Black.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Circular';
    src: url(fonts/CircularStd-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Circular';
    src: url(fonts/CircularStd-Book.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Circular';
    src: url(fonts/CircularStd-Medium.ttf);
    font-weight: 500;
}

:root {
    --side-section-color: #0F0F0F;
    --playbar-color: #181818;
    --main-window-color: #121212;
    --song-card-color: #181818;
    --main-color: #5865f2;
    --secondary-color: #3f3f3f;
    --muted-text-color: #A8A8A8;
    --selection-color: #282828;

    --side-section-width: 350px;
    --playbar-height: 90px;
}

html {
    font-family: 'Circular';
    font-size: 16px;
    font-weight: 400;
    color: rgb(230, 230, 230);
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}


/* title bar */

.title-bar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    -webkit-app-region: drag;
}

.title-bar-buttons {
    display: flex;
    -webkit-app-region: none;
}

.title-bar-menu {
    display: flex;
    -webkit-app-region: none;
}

/* menu options */

.option-highlight {
    padding: 4px 6px;
    border-radius: 6px;
    transition: 0.2s;
}

.menu-option {
    display: none;
    cursor: pointer;
    padding: 5px 2.5px 5px 2.5px;

    &:first-of-type {
        padding-left: 5px;
    }

    &:last-of-type {
        padding-right: 5px;
    }

    &:hover .option-highlight {
        background-color: var(--secondary-color);
    }

    &:active .option-highlight {
        background-color: var(--main-color);
        transition: 0s;
    }
}

/* minimize maximize close buttons */

.button-highlight {
    height: 30px;
    width: 30px;
    background-size: 30px;
    border-radius: 5px;
    transition: 0.2s;
}

.window-button {
    cursor: pointer;
    padding: 5px 2.5px 5px 2.5px;

    &:first-of-type {
        padding-left: 5px;
    }

    &:last-of-type {
        padding-right: 5px;
    }

    &:hover .button-highlight {
        background-color: var(--selection-color);
    }

    &:active .button-highlight {
        background-color: var(--main-color);
        transition: 0s;
    }
}

.minimize-button {
    background: url(img/window-minimize.svg) center no-repeat;
    background-size: 15px;
}

.maximize-button {
    background: url(img/window-maximize.svg) center no-repeat;
    background-size: 15px;
}

.close-button {
    background: url(img/window-close.svg) center no-repeat;
    background-size: 15px;
}

/* app sections */

:is(.queue, .library) > p {
    font-size: 1rem;
    font-weight: 400;
}

.queue {
    position: absolute;
    top: 0;
    right: 0;
    /* padding: 10px 0 0 15px; */
    background-color: var(--side-section-color);
    width: var(--side-section-width);
    height: calc(100vh - var(--playbar-height));
    z-index: -1;
}

.library {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    background-color: var(--side-section-color);
    width: var(--side-section-width);
    height: calc(100vh - var(--playbar-height));
    z-index: -1;
}

.main-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-window-color);
    height: calc(100vh - var(--playbar-height));
    width: calc(100vw - var(--side-section-width) * 2);
    margin: auto;
    z-index: -1;
}

.playbar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 5px 15px;
    background-color: var(--playbar-color);
    height: var(--playbar-height);
    display: flex;
    justify-content: space-between;
}

/* queue list */

.queue-list {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.queue-list-container {
    height: calc(100% - 40px);
    position: relative;
}

.queue-title {
    background-color: var(--playbar-color);
    padding: 10px 15px;
}

.queue-element {
    height: 45px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
}

.queue-element-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.queue-element-artist {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--muted-text-color);
}

.queue-element-title {
    font-size: 1rem;
    font-weight: 400;
}

.queue-element-cover {
    height: 100%;
    border-radius: 3px;
}

/* songs list */

.songs-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
    padding: 30px;
}

.song-element {
    aspect-ratio: 1 / 1.4;
    background-color: var(--song-card-color);
    padding: 15px;
    border-radius: 7px;
    text-wrap: nowrap;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        background-color: var(--selection-color);
    }

    &:active {
        background-color: var(--main-color);
    }
}

.song-element-cover {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.5);
}

.song-element-artist {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--muted-text-color);
}

.song-element-title {
    font-size: 1rem;
    font-weight: 700;
    margin: 15px 0;
}

/* cover art */

.cover-art-block {
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--side-section-width);
    width: var(--side-section-width);
    background: url(img/unnamed.jpg);
    background-size: cover;
}

.cover-art {
    display: none;
    height: 100%;
    width: 100%;
}

/* playbar */

.playbar-right {
    width: 100px;
    display: flex;
    align-items: center;
}

.playbar-left {
    width: 100px;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.song-info-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .playing-song-title {
        font-size: 0.875rem;
        font-weight: 500;
    }

    .playing-song-artist {
        font-size: 0.6875rem;
        font-weight: 500;
        color: var(--muted-text-color);
    }
}

.playbar-center {
    height: 100%;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.play-control-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.play-pause {
    height: 35px;
    width: 35px;
    background-image: url(img/play.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 37px;
    border-radius: 50%;

    &:active {
        background-size: 35px;
    }
}

.prev-song {
    height: 35px;
    width: 35px;
    background: url(img/skip.png) no-repeat center;
    transform: rotate(180deg);
    background-size: 18px;
    filter: brightness(75%);

    &:hover {
        filter: brightness(100%);
    }
}

.next-song {
    height: 35px;
    width: 35px;
    background: url(img/skip.png) no-repeat center;
    background-size: 18px;
    filter: brightness(75%);

    &:hover {
        filter: brightness(100%);
    }
}

/* sliders */

.slider-container-with-time {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    .time-container {
        position: relative;
        align-items: center;
        height: 100%;
    }

    p {
        color: var(--muted-text-color);
        font-size: 0.6875rem;
        font-weight: 400;
    }

    .current-time {
        position: absolute;
        right: 0;
    }

    .song-duration {
        position: absolute;
        left: 0;
    }
}

#progress.slider-container {
    width: 650px;
}

#volume.slider-container {
    width: 100px;

    & > .slider-progress {
        width: 100%;
    }

    & > .slider-thumb {
        left: 100%;
    }
}

.slider-container {
    position: relative;
    height: 15px;
    display: flex;
    align-items: center;

    &:hover .slider-thumb {
        background-color: white;
    }

    &:active .slider-thumb {
        background-color: white;
    }
}

.slider-track {
    position: absolute;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 2.5px;
    z-index: 0;
}

.slider-progress {
    position: absolute;
    left: 0;
    height: 5px;
    width: 0;
    background: var(--main-color);
    border-radius: 2.5px;
    z-index: 1;
}

.slider-thumb {
    position: absolute;
    left: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

/* scrollbar */

.scrollable-content {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.custom-scrollbar {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    width: 6px;
}

.queue-list-container .custom-scrollbar {
    width: 6px;
}

.custom-thumb {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    background-color: var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;

    &:active {
        background-color: var(--main-color);
    }
}